@import "./variables";

.distribution-title {
  font-size: 25px;
}

.distribution-explanation {
  background: lighten($bg-colour, 10%);
  border: 1px solid rgba($fg-colour, 0.25);
  border-radius: 10px;
  font-size: 20px;
  hyphens: auto;
  overflow-wrap: break-word;
  padding: 5px 10px;
  word-wrap: break-word;
}

.node {
  opacity: 0.75;
  z-index: 1;
}

.node-text {
  cursor: default;
  font-size: 35px;
  font-weight: bold;
  opacity: 0.35;
  z-index: 0;
}

.legend {
  border: 1px solid white;
}

.distribution-control {
  cursor: pointer;
  pointer-events: all;

  & circle {
    fill: rgba($fg-colour, 0);
    transition: fill 200ms;
  }
}

#distribution:hover .distribution-control {
  &:hover circle {
    fill: rgba($fg-colour, 0.1);
  }
  &:active circle {
    fill: rgba($fg-colour, 0.2);
  }
}
