@import "./variables";

html,
body {
  margin: 0;
  min-height: 100%;
}

body {
  background: $bg-colour;
  color: $fg-colour;
  overflow-y: auto;
  scroll-snap-points-y: repeat(calc(100% + 40px));
  scroll-snap-type: mandatory;
  scroll-snap-type: y mandatory;
}

section {
  min-height: 100vh;
  padding: 20px;
  scroll-snap-align: center;
}

h1 {
  font-size: 40px;
  margin: 0;
  margin-bottom: 25px;
  text-align: center;
}

h2 {
  font-size: 30px;
  margin: 0;
  margin-bottom: 25px;
  text-align: center;
}

p {
  font-size: 18px;
  text-align: justify;
}

svg {
  height: calc(100% - 52px - 46px);
  width: 100%;
}

.switch-button {
  align-items: center;
  border: 1px solid $fg-colour;
  border-radius: 25px;
  cursor: pointer;
  display: grid;
  font-size: 20px;
  grid-template-columns: 1fr 1fr;
  height: 50px;
  justify-content: center;
  margin: 23px auto;
  position: relative;
  width: 300px;

  & .switch-button--choice {
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: center;
    width: 100%;
    z-index: 1;
  }

  & .switch-button--background {
    background: lighten($bg-colour, 15%);
    border: 1px solid $fg-colour;
    border-radius: 25px;
    height: 100%;
    left: -1px;
    position: absolute;
    top: -1px;
    transition: left 150ms ease-in;
    width: 50%;
  }
}

#visualisations {
  min-height: calc(90vh - 40px);
  overflow: hidden;
  position: relative;

  & svg {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    transition: transform 150ms ease-in;
  }
}
